@import './normalize.css';

/* --------------  Global --------------  */
:root {
  /* MELI Color Palette */
  --border-radius: 4px;
  --color-accent: #ffe600;
  --color-body-darker: #333333;
  --color-body-lighter: #999999;
  --color-body: #666666;
  --color-primary: #3483fa;
  --color-secondary: #3483fa;
  --color-headings: ;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* --------------  Typography --------------  */
::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    sans-serif;
  /* 16px body */
  font-size: 1.6rem;
  /* 1.5 x current font size */
  line-height: 1.5;
  background-color: #eee;
}

h1,
h2,
h3 {
  color: var(--color-body-darker);
  margin-bottom: 1rem;
}

/* Product detail  => Product description header */
h1 {
  font-size: 2.8rem;
}

/* Results => Product title */
h2 {
  font-size: 2.4rem;
}

/* Results => Product description */
h3 {
  font-size: 1.8rem;
  margin: 0;
}

p {
  /* Avoid default margin collapsing with h3 */
  margin-top: 0;
}

/* --------------  Responsive text --------------  */
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

/* --------------  Input --------------  */
.input {
  border: 0;
  font-size: 1.8rem;
  font-weight: 500;
  outline: 0;
  padding: 1.3rem 1.5rem;
  width: 100%;
  line-height: 1.5;
}

.input::placeholder {
  color: var(--color-body-lighter);
}

@media screen and (max-width: 768px) {
  .input {
    font-size: 1.4rem;
  }
}

/* --------------  Input Group --------------  */
.input-group {
  display: flex;
}

.input-group .form-input {
  flex-grow: 1;
  width: 0;
}

/* --------------  Icons --------------  */
.icon {
  width: 48px;
  height: 48px;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.icon-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
  .icon--small {
    width: 18px;
    height: 18px;
  }

  .icon-container {
    padding: 0.5rem 1rem;
  }
}

/* --------------  Navigation Bar --------------  */
.nav {
  background-color: var(--color-accent);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 15rem;
}

.nav__brand {
  margin-right: 2.6rem;
}

.nav__brand img {
  height: 3.6rem;
}

.nav__search {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0.9rem 5vw;
  }

  .nav__brand {
    margin-right: 1rem;
  }

  .nav__brand img {
    height: 2.8rem;
  }
}

/* --------------  Buttons --------------  */
.btn {
  border: 0;
  cursor: pointer;
  outline: 0;
  color: white;
}

.btn--medium {
  padding: 1.3rem 8rem;
  font-size: 1.2rem;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--grey {
  background-color: #eeeeee;
}

.btn--grey:hover {
  background-color: #f2f2f2;
}

.btn:active {
  background-color: #e7e7e7;
}

.btn--transparent {
  background-color: transparent;
}

.btn--transparent:active {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .btn--medium {
    padding: 0.7rem 4rem;
  }
}
/* --------------  Lists --------------  */
.list {
  list-style: none;
  padding: 0;
}

.list--inline .list__item {
  display: inline;
}

.list--breadcrumb {
  margin: 0;
  color: var(--color-body);
  font-size: 1.4rem;
  margin: 1.6rem 0;
}

.list--breadcrumb .list__item {
  cursor: pointer;
}

.list--breadcrumb .list__item:hover {
  color: var(--color-body-darker);
}

.list--breadcrumb .list__item:active {
  color: black;
}

.list--breadcrumb .list__item::before {
  content: '>';
  cursor: default;
  font-weight: normal;
  padding: 0 0.8rem;
}

.list--breadcrumb .list__item:last-child {
  color: var(--color-body-darker);
  font-weight: 600;
}

.list--breadcrumb .list__item:first-child:before {
  content: none;
}

@media screen and (max-width: 768px) {
  .list--breadcrumb {
    font-size: 1rem;
  }
}

/* --------------  Grid --------------  */
.grid {
  display: grid;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* --------------  Product summary --------------  */
.product-summary__heading {
  display: inline-block;
  font-size: 2.4rem;
  margin: 3.2rem 0;
  word-break: break-all;
}

.product-summary__content {
  color: var(--color-body-darker);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  max-width: 760px;
  position: relative;
}

.product-summary__description {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  max-width: 30rem;
}

.product-summary__money-symbol {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .product-summary__description {
    font-size: 1.5rem !important;
  }

  .product-summary__money-symbol {
    margin-right: 0.5rem;
  }

  .product-summary__heading {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}

/* --------------  Hero --------------  */
.hero {
  background-color: white;
  display: flex;
}

.hero__image--small {
  width: 180px;
  height: 180px;
  margin: 1.6rem;
}

.hero__image--big {
  width: 480px;
  height: 600px;
  margin: 2.4rem;
}

.hero__content {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .hero__image--small {
    width: 90px;
    height: 90px;
  }

  .hero__image--big {
    width: 120px;
    height: 150px;
  }
}

/* --------------  Product Result --------------  */
.product-result {
  grid-template-columns: 0.8fr 0.2fr;
  background-color: white;
}

.product-result__image {
  border-radius: 4px;
}

.product-result--shipping .product-summary__heading {
  position: relative;
}

.product-result--shipping .product-summary__heading::after {
  content: url('../misc/images/ic_shipping.png');
  margin-left: 1rem;
}

.product-result_location {
  position: relative;
  top: 10rem;
}

.product-container {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .product-result_location {
    top: 7.5rem;
  }
}
/* --------------  Product List --------------  */

.product-list__separator {
  background-color: #f7f7f7;
  border: none;
  color: #f7f7f7;
  height: 2px;
  margin-bottom: 1rem;
  margin: 0 auto;
  width: 90%;
}

/* --------------  Search Results page --------------  */
.search-results {
  margin: 0 15rem 10rem;
}

.search-results__nav {
  margin: 1.6rem 0;
}

@media screen and (max-width: 768px) {
  .search-results {
    margin: 0 5vw 2vh;
  }
}

/* --------------  Product detail --------------  */
.product-detail {
  margin: 0 14rem;
}

.product-detail__content {
  background-color: white;
  padding: 0 0 3.2rem;
}

.product-detail .hero__content {
  top: 5rem;
}

.product-detail .hero__image {
  margin-right: 5rem;
}

.product-detail .product-summary__heading {
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 1;
}

.product-detail__status {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}

.product-detail .product-summary__description {
  font-size: 2.4rem;
  max-width: 20rem;
}

.product-detail .btn {
  margin-right: 3.2rem;
}

@media screen and (max-width: 768px) {
  .product-detail .product-summary__heading {
    font-size: 2rem;
  }

  .product-detail__status {
    font-size: 1rem;
  }

  .product-detail {
    margin: 0 2rem;
  }

  .product-detail .product-summary__description {
    max-width: 15rem;
  }
}

/* --------------  Product description --------------  */
.product-description {
  margin-left: 3.2rem;
}

.product-description__content {
  margin: 3.2rem 0;
  max-width: 50rem;
  line-height: 1.9rem;
}

@media screen and (max-width: 768px) {
  .product-description__content {
    max-width: 20rem;
    margin: 1.6rem 0;
  }
}
