@import './normalize.css';

/* --------------  Global --------------  */
:root {
  /* MELI Color Palette */
  --border-radius: 4px;
  --color-accent: #ffe600;
  --color-body-darker: #333333;
  --color-body-lighter: #999999;
  --color-body: #666666;
  --color-primary: #3483fa;
  --color-secondary: #3483fa;
  --color-headings: ;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* --------------  Typography --------------  */
::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    sans-serif;
  /* 16px body */
  font-size: 1.6rem;
  /* 1.5 x current font size */
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-body-darker);
  margin-bottom: 1rem;
}

/* Product detail  => Product description header */
h1 {
  font-size: 2.8rem;
}

/* Results => Product title */
h2 {
  font-size: 2.4rem;
}

/* Results => Product description */
h3 {
  font-size: 1.8rem;
}

p {
  /* Avoid default margin collapsing with h3 */
  margin-top: 0;
}

/* --------------  Responsive text --------------  */
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

/* --------------  Input --------------  */
.input {
  border: 0;
  font-size: 1.8rem;
  font-weight: 500;
  outline: 0;
  padding: 1.3rem 1.5rem;
}

.input::placeholder {
  color: var(--color-body-lighter);
}

/* --------------  Input Group --------------  */
.input-group {
  display: flex;
}

.input-group .input {
  flex-grow: 1;
  width: 0;
}

/* --------------  Icons --------------  */
.icon {
  width: 48px;
  height: 48px;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.icon-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 1rem 1.5rem;
}

/* --------------  Navigation Bar --------------  */
.nav {
  background-color: var(--color-accent);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 15rem;
}

.nav__brand {
  margin-right: 2.6rem;
}

.nav__brand img {
  height: 3.6rem;
}

.nav__search {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
}

/* --------------  Buttons --------------  */
.btn {
  border: 0;
  cursor: pointer;
  outline: 0;
}

.btn--grey {
  background-color: #eeeeee;
}

.btn--grey:hover {
  background-color: #f2f2f2;
}

.btn:active {
  background-color: #e7e7e7;
}

.btn--transparent {
  background-color: transparent;
}

.btn--transparent:active {
  background-color: transparent;
}

/* --------------  Lists --------------  */
.list {
  list-style: none;
  padding: 0;
}

.list--inline .list__item {
  display: inline;
}

.list--breadcrumb {
  margin: 0;
  color: var(--color-body);
  font-size: 1.4rem;
}

.list--breadcrumb .list__item {
  cursor: pointer;
}

.list--breadcrumb .list__item:hover {
  color: var(--color-body-darker);
}

.list--breadcrumb .list__item:active {
  color: black;
}

.list--breadcrumb .list__item::before {
  padding: 0 0.8rem;
  content: '>';
  cursor: default;
}

.list--breadcrumb .list__item:last-child {
  color: var(--color-body-darker);
}

.list--breadcrumb .list__item:first-child:before {
  content: none;
}

/* --------------  Grid --------------  */
.grid {
  display: grid;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* --------------  Product summary --------------  */
.product-summary {
  grid-template-columns: 0fr 0.8fr 0.2fr;
}

.product-summary__heading {
  display: inline-block;
  font-size: 2.4rem;
  margin: 3.2rem 0;
  word-break: break-all;
}

.product-summary__image {
  margin: 1.6rem;
  width: 180px;
  border-radius: 4px;
}

.product-summary__content {
  max-width: 760px;
  color: var(--color-body-darker);
  font-weight: 600;
}

.product-summary--shipping .product-summary__heading {
  position: relative;
}

.product-summary--shipping .product-summary__heading::before {
  content: url('../misc/images/ic_shipping.png');
  display: inline-block;
  position: absolute;
  right: -25px;
}

.product-summary__description {
  font-size: 1.8rem;
}

.product-summary_location {
  margin: 25% 0;
}
